@import '../../../../core/styles/colors.scss';

.horario-header{
    width: 100%;
    font-size: 24px;
    text-align: center;
}

.container-table{
    max-width: 100%;
    height: 95%;
    overflow: scroll;
}

table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    color: $colorSecondary;
    border: 1px solid lightgray;
}

.hoy{
    background-color: $colorSecondary;
    color: $colorBlanco;
    border-radius: 8px 8px 0px 0px;
}

.fechas{
    border-top: 2px solid $colorSecondary;
}

tbody tr td{
    border-right: 1px solid lightgray;
}

tbody tr:nth-child(2n){
    background-color: rgba(223, 228, 228, 0.247);
}

.reserve{
    padding: 8px;
    border-radius: 8px;
    color: $colorNegro;
    background-color: $colorPrimary;
    overflow: scroll;
}

.sticky{
    width: 50px;
    position: sticky;
    left: 0px;
    z-index: 100;
}

.sticky button{
    background-color: rgba(223, 228, 228, 0.247);
}

.stickyR{
    width: 50px;
    position: sticky;
    right: 0px;
    z-index: 100;
}

.stickyR button{
    background-color: rgba(223, 228, 228, 0.247);
}

thead tr .sticky{
    min-width: 50px;
    text-align: center;
    background-color: $colorBlanco;
}

tbody tr .sticky{
    min-width: 50px;
    text-align: center;
    background-color: $colorBlanco;
    z-index: 100;
}

tbody tr:nth-child(2n) .sticky{
    background-color: rgb(238, 241, 241);
}


.buscador{
    margin: 4px 70px;
    border: 1px solid $colorPrimary;
    border-radius: 8px;
}

.modal-datos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-datos-delete{
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.table-responsive {
    min-height: .01%;
    overflow: scroll;
}

.table-week-teacher{
    color: $colorNegro;
    border-bottom: 1px solid $colorNegro;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
}

