$colorPrimary: #F5B32B;
$colorSecondary: #307A59;
$colorTerciary: #34678A;
$colorBlanco: #F5F8F7;
$colorNegro: #212123;
$colorRojo: #E96C6C;

// primary: F5B32B
// secondary: 307A59
// negro: 212123
// blanco:  F5F8F7
