$colorPrimary: #FA6C18;
$colorSecondary: #1B304C;
$colorTerciary: #48BAAF;
$colorBlanco: #FCFFFF;
$colorNegro: #070C13;
$colorRojo: #E96C6C;

// primary: FA6C18
// secondary: 1B304C
// tertiary: 48BAAF
// negro: 070C13
// blanco:  FCFFFF

