<div class="admin-container">
  <div class="admin-menu">
    <div class="admin-logo">
        <a routerLink="" class="logo">
            <img src="../../../assets/images/nuevo logo.png" alt="">
        </a>
    </div>
      <a routerLink="inscripciones" routerLinkActive="active">Inscripciones</a>
      <a routerLink="horario-a" routerLinkActive="active">Horario A</a>
      <a routerLink="horario-b" routerLinkActive="active">Horario B</a>
  </div>
  <div class="admin-content">
      <router-outlet></router-outlet>
  </div>
</div>
<!-- <div class="admin-menu-mobil">
  <a routerLink="pacientes" routerLinkActive="active">
      <mat-icon>group</mat-icon>
      <p>Pacientes</p>
  </a>
  <a routerLink="contabilidad" routerLinkActive="active">
      <mat-icon>currency_exchange</mat-icon>
      <p>Contabilidad</p>
  </a>
  <a routerLink="reserva" routerLinkActive="active">
      <mat-icon>calendar_month</mat-icon>
      <p>Reservas</p>    
  </a>
</div> -->
